*.iso
*.exe
*.zip
*.md5.txt
*.zip.00?
!scripts/**/*.exe
!bin/**/*.exe
# Packer builder outputs
outputs/
output-hyperv-iso/
output-virtualbox-iso/
output-vmware-iso/
output-parallels-iso/
output-parallels-pvm/
~$*.xlsx
*.box
generated/
vms/output/

*.user
tools/VMSGen/VMSGen/obj/
tools/VMSGen/VMSGen/bin/
tools/VMSGen/packages/
tools/PackerMerge/PackerMerge/bin/
tools/PackerMerge/PackerMerge/obj/
tools/PackerMerge/.vs/config/applicationhost.config
tools/VMSGen/.vs/config/applicationhost.config

*.suo
bin/*.vshost.exe.*
bin/*.vshost.exe

scripts/vmgen.json.lock
scripts/vmgen.json
scripts/floppy/build.cfg
scripts/vmgen.log
scripts/vmgen.cfg
*.user